@import "navigation.css";
@import "main.css";
@import "subscribe.css";
@import "older.css";
@import "footer.css";


/* css variables */
:root {
    --primary: rgb(182, 182, 182);
    --dark: rgb(32, 32, 32);
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* css applied to most of */
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
    min-width: 500px;
}

body {
    background: var (--primary);
    margin: 30px 50px;
    line-height: 1.2;    
}

.btn {
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%;
}

/* Media Queries */

@media (max-width: 1050px) {

    .main-container {
        grid-template-areas: 
         'new-article'
         'about-me';
    }
    
    .more-posts {
        grid-template-areas:
        'posts posts'
        'posts posts'
        'posts posts';
    }
}

@media (max-width: 850px) {
    
    #logo {
        font-size: 1.3rem;
    }
    
    .new-article h1 {
        font-size: 2rem;
    }

    .new-article p {
        font-size: 1.1rem;
    }

    .more-posts {
        grid-template-areas:
        'posts'
        'posts'
        'posts'
        'posts'
        'posts'
        'posts';
    }
}

@media (max-width: 600px) {
    
    #logo {
        font-size: 1rem;
    }

    .new-article h1 {
        font-size: 1.5rem;
    }

    .new-article p {
        font-size: 0.9rem;
    }

    .subscribe-form h2{
        font-size: 1.2rem;
    }

    .subscribe-form p {
        font-size: 0.8rem;
    }

    .more-posts {
        grid-template-areas:
        'posts'
        'posts'
        'posts'
        'posts'
        'posts'
        'posts';
    }
}

@media (max-width: 550px) {

    #logo {
        font-size: 0.7rem;
    }    

    .nav-btn {
        font-size: 0.7rem;
    }

    .subscribe-form h2{
        font-size: 1rem;
    }

    .subscribe-form p {
        font-size: 0.6rem;
    }

    .form-container {
        width: 50%;
        height: 50%;        
    }

    .submit-btn {
        padding: 8px 16px;
        text-decoration: none;
        margin: 2px 1px;
        font-size: 0.6rem;
    }
}